# Page Visits Funnel

Cool T-Shirts Inc. has asked you to analyze data on visits to their website. Your job is to build a funnel, which is a description of how many people continue to the next step of a multi-step process.

In this case, our funnel is going to describe the following process:

1. A user visits CoolTShirts.com
2. A user adds a t-shirt to their cart
3. A user clicks “checkout”
4. A user actually purchases a t-shirt

Inspect the DataFrames using print and head

In [3]:
import pandas as pd


visits = pd.read_csv('visits.csv',
                       parse_dates=[1])
cart = pd.read_csv('cart.csv',
                       parse_dates=[1])
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

print(visits.head())
print(cart.head())
print(checkout.head())
print(purchase.head())

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Combine visits and cart using a left merge.

In [4]:
visits_cart=pd.merge(visits,cart,how='left')
print(visits_cart)

                                   user_id          visit_time  \
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
...                                    ...                 ...
1995  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00
1996  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00
1997  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00
1998  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00
1999  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00

               cart_time
0                    NaT
1    2017-01-26 14:44:00
2    2017-08-20 08:31:00
3                    NaT
4                    NaT
...                  ...
1995                 NaT
1996                 NaT
1997                 NaT
1998                 NaT
1999                 NaT

[2000 rows x 3 columns]

How long is your merged DataFrame?

In [5]:
print(len(visits_cart))

2000

How many of the timestamps are null for the column cart_time? What do these null rows mean?

In [7]:
no_cart=visits_cart[visits_cart.cart_time.isnull()]
print(no_cart)

                                   user_id          visit_time cart_time
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00       NaT
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00       NaT
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00       NaT
5     7bc62113-d51d-4e6b-85e0-1cf29e3de74a 2017-06-03 20:05:00       NaT
6     6f22cd44-bc63-4449-a9af-2651859da2f9 2017-03-18 23:09:00       NaT
...                                    ...                 ...       ...
1995  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00       NaT
1996  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00       NaT
1997  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00       NaT
1998  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00       NaT
1999  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00       NaT

[1652 rows x 3 columns]

What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?

In [8]:
print(len(no_cart)/float(len(visits_cart)))

0.826

Repeat the left merge for cart and checkout and count null values. What percentage of users put items in their cart, but did not proceed to checkout

In [9]:
cart_checkout=pd.merge(cart,checkout,how='left')
print(cart_checkout)
print(len(cart_checkout))
no_checkout=cart_checkout[cart_checkout.checkout_time.isnull()]
print(no_checkout)
print(len(no_checkout)/float(len(cart_checkout)))

                                  user_id           cart_time  \
0    2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1    2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
2    2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
3    4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
4    a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
..                                    ...                 ...
477  59d2b685-383a-4fce-a325-35d985713a8b 2017-01-20 03:58:00
478  a1203970-92ae-4fc7-843e-e1740c1be9d5 2017-11-12 23:07:00
479  55de53ae-89f6-43ff-a26d-df284678aca1 2017-03-17 19:56:00
480  0ea4cc68-dae4-4e35-b3e0-f0889932e1b5 2017-05-12 08:53:00
481  0ea4cc68-dae4-4e35-b3e0-f0889932e1b5 2017-05-12 08:53:00

          checkout_time
0   2017-11-07 21:14:00
1   2017-11-07 20:50:00
2   2017-11-07 21:11:00
3                   NaT
4   2017-03-04 11:04:00
..                  ...
477                 NaT
478                 NaT
479 2017-03-17 20:04:00
480 2017-05-12 08:57:00
481 2017-05-12 09:20:00

[482 rows x 3 columns]
482
                                  user_id           cart_time checkout_time
3    4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00           NaT
6    a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00           NaT
14   fd80ce93-ae6e-4c0b-9ea4-561f84152026 2017-06-07 01:18:00           NaT
26   48a23075-694b-417d-8449-9df921ad95aa 2017-07-09 15:28:00           NaT
29   5d7d121a-817c-4b84-b4d6-5388092b9aec 2017-06-10 14:54:00           NaT
..                                    ...                 ...           ...
469  e1a8574d-1975-4c6a-8020-b3469e4995a5 2017-10-01 20:43:00           NaT
471  49d04162-a920-4823-a1f0-9764768c19d1 2017-10-10 10:55:00           NaT
472  bf63c84b-53b7-45f6-9dc5-723087c31c1a 2017-04-12 01:34:00           NaT
477  59d2b685-383a-4fce-a325-35d985713a8b 2017-01-20 03:58:00           NaT
478  a1203970-92ae-4fc7-843e-e1740c1be9d5 2017-11-12 23:07:00           NaT

[122 rows x 3 columns]
0.25311203319502074

Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable all_data.

Examine the result using print and head

In [10]:
all_data=visits.merge(cart,how='left').merge(checkout,how='left').merge(purchase,how='left')
print(all_data.head())

                                user_id          visit_time  \
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00

            cart_time       checkout_time       purchase_time
0                 NaT                 NaT                 NaT
1 2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
2 2017-08-20 08:31:00                 NaT                 NaT
3                 NaT                 NaT                 NaT
4                 NaT                 NaT                 NaT

What percentage of users proceeded to checkout, but did not purchase a t-shirt?

In [11]:
checkout_purchase=checkout.merge(purchase,how='left')
no_purchase_length=len(checkout_purchase[checkout_purchase.purchase_time.isnull()])
percent_no_purchase=float(no_purchase_length)/float(len(checkout_purchase))
print(percent_no_purchase)

0.1688963210702341

Which step of the funnel is weakest (i.e., has the highest percentage of users not completing it)? How might Cool T-Shirts Inc. change their website to fix this problem?

Obviously the visits_cart funnel is the weakest with a over 80% users not making placements for T-shirts in their carts

Using the giant merged DataFrame all_data that you created, let’s calculate the average time from initial visit to final purchase. Start by adding the following column to your DataFrame:
Examine the results

In [12]:
all_data['time_to_purchase'] = \
    all_data.purchase_time - \
    all_data.visit_time
print(all_data.time_to_purchase)

0                  NaT
1      0 days 00:44:00
2                  NaT
3                  NaT
4                  NaT
             ...
2367               NaT
2368               NaT
2369               NaT
2370               NaT
2371               NaT
Name: time_to_purchase, Length: 2372, dtype: timedelta64[ns]

Calculate the average time to purchase using the following code

In [13]:
print(all_data.time_to_purchase.mean())

0 days 00:43:53.360160965